<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE
        configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 用于输出日志 log4j:LOG4J SLF4J -->
	<settings>
		<setting name="logImpl" value="SLF4J"/>
	</settings>

	<!-- 为实体类别名，使用简单类名 -->
	<typeAliases>
		<package name="com.asimple.entity"/>
	</typeAliases>
	
	<!-- 注册映射文件 -->
	<mappers>
		<package name="com.asimple.dao"/>
	</mappers>
</configuration>