<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asimple.mapper.CataLogMapper">
    <resultMap id="myCataLog" type="com.asimple.entity.CataLog">
        <id column="id" property="id"></id>
        <result column="isUse" property="isUse"></result>
        <result column="name" property="name"></result>
        <result column="sort" property="sort"></result>
        <result column="isVip" property="isVip"></result>
        <collection property="subClassList" column="id" select="selectSubclass"></collection>
    </resultMap>

    <select id="findByIsUse" resultMap="myCataLog">
        SELECT `id`,`name`,`isUse` FROM t_catalog WHERE `isUse`=1
    </select>

    <select id="selectSubclass" resultType="com.asimple.entity.SubClass">
        SELECT * FROM `t_subclass` WHERE `catalog_id`=#{id}
    </select>

    <select id="load" resultType="com.asimple.entity.CataLog">
        SELECT * FROM `t_catalog` WHERE `id`=#{cataLog_id}
    </select>

    <insert id="add" parameterType="com.asimple.entity.CataLog">
        INSERT INTO `t_catalog` (`id`, `isUse`, `name`) VALUES (#{id}, #{isUse},#{name})
    </insert>

    <update id="update" parameterType="com.asimple.entity.CataLog">
        UPDATE t_catalog t
        SET t.`name` = #{name},
            t.`isUse` = 1
        WHERE
                t.`id`= #{id}
    </update>

</mapper>