<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asimple.mapper.RatyMapper">
    <insert id="add" parameterType="com.asimple.entity.Raty">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            SELECT replace(uuid(), '-', '')
        </selectKey>
        INSERT INTO t_raty(`id`, `film_id`, `enTime`, `score`)
            VALUES (#{id}, #{film_id},#{enTime},#{score})
    </insert>

    <select id="getCountByFilm_id" resultType="Integer">
        SELECT COUNT(*) FROM t_raty WHERE film_id=#{id}
    </select>

    <select id="listByFilmId" resultType="com.asimple.entity.Raty">
        SELECT * FROM t_raty WHERE film_id=#{id}
    </select>

    <delete id="deleteByFilmId" parameterType="String">
        DELETE FROM `t_raty` WHERE `film_id`=#{film_id}
    </delete>

</mapper>